asgiref==3.5.2
certifi==2022.9.24
Django==3.2
django-elasticsearch-dsl==7.2.2
django-elasticsearch-dsl-drf==0.22.5
django-nine==0.2.5
djangorestframework==3.14.0
elasticsearch==7.17.7
elasticsearch-dsl==7.4.0
Pillow==9.3.0
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.12
